<!DOCTYPE html>
<html>

<head>
    <title>File Explorer</title>
</head>

<body>

    <h2>Decrypt storage</h2>

    <h3>Enter your user-key</h3>

    <h4>File Explorer</h4>

    <form action="/decrypt-storage" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" />
    </form>
    </form>


</body>

</html>